*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", "Arial Narrow";
}
.header{
  background-color: #f4b400;
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  color: #efd9d9;
 
}
.header img{
  margin-top: 10px;
  margin-left: 10px;
}
form{
  min-height: 50px;
  color: #ecf0f1;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px rgba(0, 0, 0, alpha);
border-radius: 10px;
width: 30vw;
/* display: flex; */


position: relative;
background-color: #ebe3e3;
}
input{
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 0 10px;
  font-weight: bold;
}
textarea{
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 10px 0;
}

.MuiButton-root{
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -28px;
  left: 400px;
  cursor: pointer;
  background-color: #fff !important;
    border-radius: 50% !important;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.05);


}
.MuiButton-root .plus_sign{
  font-size: 45px !important;
  font-weight: 900;
  color: #f4b400;
  z-index:222;
  background-color: transparent;
}
.MuiButton-root:hover{
  background-color: #f4b400 !important;

}
.MuiButton-root:hover .plus_sign{
  color: #fff;
  background-color: transparent;
}

.main_note{
  margin-top: 90px;
  margin-left: 400px;
  height: 50px;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9cdeef;
}

.note{
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1{
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p{
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note .btn{
  position: relative;
  float: right ;
  margin-right: 10px;
  color: #f4b400;
  border: none;
  height: 50px;
  width: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px rgba(0, 0, 0, 0.05);
border-radius: 50%;
}
.deleteIcon{
width: 0.7em;
height: 0.7em;
} 
.note .btn:hover{
  background-color: #efb2b2;
}
footer{
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
}